<div class="loginbox">
  <img class="icon">

  <div class="form-error-message" *ngIf="existsError">
      <a>{{errorMessage}}</a>
  </div>

  <form [formGroup]="signupForm" (submit)="onSubmit()">
    <input type="text" placeholder="Username" formControlName="username">
    <input type="password" placeholder="Password" formControlName="password">
    <input type="password" placeholder="Repeat Password" formControlName="repassword">
    <input type="submit" value="Register">
    <input type="button" value="Back" routerLink="/auth/login">
  </form>
</div>